.assignment * {
  max-width: 100% !important;
}

.assignment {
  width: 100% !important;
  overflow-x: scroll;
}

.assignment img {
  border-radius: 10px;
}

.assignment a {
  color: #4dabf7; /* #228be6 */
  text-decoration: none;
}
.assignment a:hover {
  text-decoration: underline;
}